name: glide

channels:
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - pip=20.0
  - python=3.7
  - matplotlib
  - numpy
  - pandas
  - scikit-learn
  - scipy
  - seaborn
  - setuptools
  - networkx